
seaborn
streamlit
jsonlib-python3
plotly
matplotlib
python_io
requests
datetime
streamlit-lottie
streamlit-option-menu
python-dateutil
streamlit-folium
streamlit-chat
africastalking
yfinance
openai
pyttsx3
gtts
prophet
scikit-learn
numpy
pandas
xgboost
python-dotenv
